html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  margin: 0rem 10%;
  --primary: #2d2d2d;
  --secondary: #535353;
}

/* fredoka-regular - latin */
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/fredoka-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/fredoka-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/fredoka-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/fredoka-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/fredoka-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/fredoka-v9-latin-regular.svg#Fredoka")
      format("svg"); /* Legacy iOS */
}

h1 {
  font-family: Fredoka;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 150%;
}
